/* style.css */

.module-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 5px;
}

.module-content {
    padding: 10px;
    display: none;
    border-left: 2px solid #007BFF;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.module-content.active {
    display: block;
}

.exercise {
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
    padding: 10px;
    margin: 10px 0;
}

ul { margin: 5px 0 10px 20px; }
li { margin: 3px 0; }
